{% extends 'EntregaTres/Publicaciones/publicaciones-base.html' %}

{% block contenido %}

<h1>SOBRE MI...</h1>

print("Hello World")
<br>
Mi nombre es Franco Sessarego, tengo 22 años, estoy cursando la carrera de abogacia en la UBA, trabajo como encargado en 
una Heladeria Grido.
<br>
Me anote al curso de Python para adentrarme un poco en el mundo de la programacion. Con este curso descubri que la programacion web
no es algo que me interese, pero gracias a esto, pude encontrar otras areas como la de los datos y las aplicaciones.
<br>
Decidi hacer un blog enfocado en Alienigenas, Teorias conspirativas y temas relacionados a estos porque me parece un tema divertido.
<br>
Realmente no tengo mucho mas para contar sobre mi, creo que eso es todo.
<br>
A quien lea esto, muchos exitos en la vida.
{% endblock %}